<!-- Desktop header -->
<header class="desktop-nav">
  <div class="logo">
    <img src="assets/images/logo.png" alt="SaveBite Logo" class="img-logo" />
    <p>SaveBite</p>
  </div>
  <ul class="menu" >
    <li><a routerLink="/user-home">Home</a></li>
    <li><a routerLink="/inventory">Inventory</a></li>
    <li><a routerLink="/scan-product">Scan</a></li>
    <li><a routerLink="/smart-fridge">Smart Fridge</a></li>
    <li><a routerLink="/recipes">Recipes</a></li>
    <li><a routerLink="/share-food" >Share</a></li>
    <li><a routerLink="/user-profil">Profile</a></li>
  </ul>
</header>

<!-- Mobile bottom nav -->
<footer class="mobile-nav">
  <a routerLink="/user-home"      routerLinkActive="active"><i class="fa-solid fa-house-chimney"></i></a>
  <a routerLink="/inventory"      routerLinkActive="active"><i class="fa-solid fa-utensils"></i></a>
  <a routerLink="/scan-product"   routerLinkActive="active"><i class="fa-solid fa-camera"></i></a>
  <a routerLink="/recipes"        routerLinkActive="active"><i class="fa-solid fa-book"></i></a>
  <a routerLink="/user-profil"    routerLinkActive="active"><i class="fa-solid fa-user"></i></a>
</footer>
